body > footer {
  @extend .sans;
  text-align: center;
  font-size: .8em;
  color: $footer-color;
  background-color: $footer-bg;
  position: relative;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  // margin-top: 3em;
  margin: 3em auto 0px;
  // @include border-bottom-radius(.4em);
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
    text-decoration: none;
  }
  p:last-child { margin-bottom: 0; }
}
