// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #fafafa;

html {
	background: $white;
}

body {
	font-family: $sans !important;
	font-size: 1em;

	header {
		background: $white;
		text-align: center;
	}
	nav {
		a {
			font-family: $sans;
			padding-top: 0.3em;
			line-height: 1.5em;
		}
		li + li {
			border-left: 0px;

			a {
				border-left: 0px;
			}
		}
	}

	> div {
		background: $white;
		border-bottom: 0px;

		> div {
			background: $white;
			border-right-width: 0px;
		}
	}

}

article {
	padding-top: 2em;

	.entry-content {
		h3 {
			font-style: italic
		}
	}

	ul, ol {
		margin-left: 2em;
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
		}
	}
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		// margin: 0 10px;
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;
	}

	.blog-index {
		article {
			padding-top: 4em;
      padding-bottom: 2em;
      margin-bottom: 5em;
      background: none;
      &:before {
        display: block;
        content: '';
        max-width: 95%;
        height: 1px;
        margin-bottom: 0;
        border-bottom: dashed 10px lighten($light-blue, 30);
      }
      &:first-of-type {
        &:before {
          display: none;
        }
      }
      &:last-of-type {
        border-bottom: none;
        box-shadow: none;
      }

			header {
				padding-left: 0;
  				padding-right: 0;
			}
		}

		h1 {
			a {
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
			font-size: 1.6em;
		}
	}
}

aside {
	display: none;
}

/* Author Card */
.author-card {
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 5px;
  margin: 15px 5px;
  height: 150px;
  width: 560px;
  max-width: 95%;
  overflow: hidden;
  position: relative;
  .icon-image {
    float: left;
    width: 130px;
    height: 130px;
  }
  .name {
    font-size: 48px;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
  }
  .description {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-style: italic;
    color: #7f8c8d;
  }
  .card-left {
    float: left;
  }
  .card-right {
    margin-left: 150px;
    margin-right: 30px;
    max-height:80%;
  }
}

@media screen and (max-width: 480px) {
  .author-card {
    height: 100px;
    .icon-image {
      width: 80px;
      height: 80px;
    }
    .name {
      font-size: 28px;
      margin-top: 25px;
    }
    .description {
      font-size: 12px;
    }
    .card-right {
      margin-left: 90px;
      margin-right: 10px;
    }
  }
}

/* Social Flat */
.social-flat {
  font-family: 'Josefin Sans', sans-serif;
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
  }
  ul {
    list-style:none;
    margin:0;
    padding:0;
    li {
      display:block;
      width: 160px;
      height: 80px;
      float:left;
      margin: 5px 3px;
      padding: 5px 3px;
      border-radius: 3px;
      color: #f8f8f8;
      position: relative;
      a {
        text-decoration: none;
        display:block;
        text-align: center;
        line-height: 80px;
        color: #f8f8f8;
        font-size: 26px;
      }
    }
  }
  .icon {
    background-color: #2c3e50;
    &:hover {
      background-color: lighten(#2c3e50, 10%);
    }
  }
  .github {
    background-color: #2c3e50;
    &:hover {
      background-color: lighten(#2c3e50, 10%);
    }
  }
  .twitter {
    background-color: #3498db;
    &:hover {
      background-color: lighten(#3498db, 10%);
    }
  }
  .blog {
    background-color: #2ecc71;
    &:hover {
      background-color: lighten(#2ecc71, 10%);
    }
  }
  .bottom-right {
    font-size: 14px;
    line-height:12px;
    position: absolute;
    bottom: 7px;
    right: 7px;
  }
}
@media screen and (max-width: 480px) {
  .social-flat {
    ul {
      li {
        width: 95%;
      }
    }
  }
}

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
